.dow{
    background-color: #5999B2;
    padding: 3;
}


.img
{
    background-color: #5999B2;
}

.btn{
    background-color: #5999B2;
}

.edu

{
    color:#5999B2 ;
}

.lnk{
    color: rgb(68, 68, 228);
}

.yu{
    color: rgb(193, 21, 21);
}